doctype
html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  body
    != yield
    