$break-large: 960px;
$break-small: 480px;

$base-font: '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$pen-font: "Klee", '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;



.visible{
  opacity: 1 !important;
}

.small{
  font-size: 0.9em;
  margin: 0.5em 0 0.5em 1em;
  color: #555;
}

.col-1-2{
  width: 50%;
  display: inline-block;
}

@keyframes up-down{
  0%{bottom: 12%}
  70%{bottom: 8%}
  100%{bottom: 12%}
}