link(rel="stylesheet" href="./info.css")

main
  
  h3 公共交通機関
  p 構内に駐車場・駐輪場はありません。お車・自転車でのご来場はご遠慮ください。
  | ご来場の際は、電車やバスなどの公共交通機関をご利用いただくようお願いいたします。
  a(href="http://n-canfes.com#map") こちら。

  h3 落し物に関して
  p 落し物をされた場合は、メイン会場の総合インフォメーションまでお越しください。
  | 後日、落し物が見つかり次第、お伝えしていただいた落し主の連絡先にご連絡させていただきます。
  | 『受け渡し場所』N高等学校代々木キャンパス
  | ＊スマートフォン・携帯電話や財布などの貴重品については、キャンフェス終了後に警察署へ届けます。
  | ＊キャンパス外で落とされた場合は、インフォメーションではなく、警察署に届いている可能性もございます。そちらへのお問い合わせも併せてご利用ください。
  | ＊代々木二丁目交番　
  | 所在地:東京都渋谷区代々木2-13-9　TEL:03-3408-0110(原宿警察署)

  h3 構内でのお願い
  p ・喫煙、飲酒に関して
  p 構内での喫煙・飲酒は、全面禁止となっております。ご了承ください。

  h3 飲食に関して
  p 別館での飲食は、ステージ・フードエリアのみ可能です。それ以外のエリアではお控えください。  
  | また、校内への食品の持ち込みはお断りしております。

  h3 撮影に関して
  p 校内は基本的に撮影可ですが、撮影不可の案内がされている展示物の撮影や、不許可の個人が特定できるようなsns投稿は禁止とさせていただきます。


  h3 ペットの同伴に関して
  p ペットの同伴は全面禁止とさせていただいております。

  h3 その他
  p 公序良俗に反することを禁じます。
  | また、上の事項に反する行為を発見した場合、実行委員及びスタッフから注意をさせていただきますのでご了承下さい。



  h3 アクセス
  h5 電車をご利用の場合
  li JR【新宿駅】新南改札より徒歩5分
  li JR・都営地下鉄大江戸線【代々木駅】北口より徒歩5分
  li 都営地下鉄・京王新線【新宿駅】A1口より徒歩2分
  li 都営地下鉄・京王新線【新宿駅】出口6より徒歩3分
  li 小田急線【南新宿駅】より徒歩3分
  h3 バスをご利用の場合
  p 【バスタ新宿】より徒歩6分
